.album {
  padding-top: 34px;
  padding-bottom: 94px;

  &__list {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
    margin: 0;
    @media (max-width: 1199px) {
    grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 767px) {
    grid-template-columns: 1fr;
    }
  }

  &__item {
    position: relative;
    list-style: none;
    border: 1px solid #eee;
    width: 370px;
    height: 404px;
    background: #fff;
    display: inline-block;
    overflow: hidden;
  }

  &__item:hover {
    list-style: none;
    border: 1px solid #eee;
    width: 370px;
    height: 404px;
    box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16),
      0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    background: #fff;
    display: inline-block;
    cursor: pointer;
    transition: 0.3s;
  }

  &__item-overlay {
    position: absolute;
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    letter-spacing: 0.03em;
    color: #fff;
    width: 370px;
    height: 294px;
    background: rgba(33, 150, 243, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: 0.5s;
  }

  &__item:hover .album__item-overlay {
    transform: scaleY(1);
  }

  &__image {
    width: 370px;
    height: 294px;
  }

  &__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 200%;
    letter-spacing: 0.06em;
    color: #212121;
    padding: 0 15px;
  }

  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.03em;
    color: $third-color;
    padding: 0 15px;
  }
}
