.clients {
    &__title {
        font-weight: 700;
        font-size: 36px;
        letter-spacing: 0.03em;
        text-align: center;
        color: #212121;
        margin: 0;
        padding-top: 94px;
      }
      
      &__list {
        list-style: none;
        display: flex;
        justify-content: center;
        justify-content: space-between;
        margin: 0;
        padding: 50px 0 94px 0;
      }
      
      &__client {
        fill: #afb1b8;
        width: 106px;
        height: 60px;
        padding: 16px 32px;
        border: 1px solid #afb1b8;
        border-radius: 4px; 
        transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      }
      
      &__client:hover {
        fill: $second-color;
        width: 106px;
        height: 60px;
        padding: 16px 32px;
        border: 1px solid $second-color;
        border-radius: 4px;  
        cursor: pointer;
      }
      
}