.gallery {
  margin-bottom: 94px;

  &__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }

  &__item {
    list-style: none;
    width: 370px;
    height: 294px;
    position: relative;
  }

  &__title {
    @include section-title();
  }

  &__img {
    width: 370px;
    height: 294px;
  }

  &__item-name {
    @include title(#fff);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
