.gradient {
  background-color: rgba(47, 48, 58, 0.4);
  margin: 0 auto;
  height: 600px;
  @media (max-width: 1199px) {
    height: 400px;
  }
}

.hero {
  background-image: image-set(url(../../w1-images/hero/hero-desk.webp) 1x, url(../../w1-images/hero/hero-desk@4x.webp) 2x);
  background-position: center;
  background-size: cover; 
  background-repeat: no-repeat;
  margin: 0 auto;
  height: 600px;
  @media (max-width: 1199px) {
    background-image: image-set(url(../../w1-images/hero/hero-tab.webp) 1x, url(../../w1-images/hero/hero-tab@4x.webp) 2x);
    height: 400px;
  }
  @media (max-width: 767px) {
    background-image: image-set(url(../../w1-images/hero/hero-mob.webp) 1x, url(../../w1-images/hero/hero-mob@4x.webp) 2x);
  }

  &__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 200px 0 30px;
    @media (max-width: 1199px) {
      font-weight: 900;
      font-size: 26px;
      line-height: 162%;
      padding-top: 118px;
    }
  }

  &__button {
    font-weight: 700;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.06em;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: $second-color;
    padding: 10px 32px;
    display: block;
    margin: auto;
    border: none;
    cursor: pointer;
    @media (max-width: 1199px) {
      padding: 10px 24px;
    }
  }
}
