.paragrafs {
  padding: 94px 0;

  &__image {
    border-radius: 4px;
    width: 270px;
    height: 120px;
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    list-style: none;
    width: 270px;
    height: 248px;
  }

  &__paragraf {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: $third-color;
  }
}
