body {
  font-family: $font-family;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 1170px;
  margin: 0 auto; 
  padding: 0 15px;
  @media (max-width: 1199px) {
    width: 738px;
  }
  @media (max-width: 767px) {
    width: 450px;
  }
}

ul {
  padding: 0;
  list-style: none;
}

button {
  transition: 0.5s;
  &:hover {
    transform: scale(1.1);
  }
}
