body {
    font-family: $font-family;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  .container {
    @include container();
  }
  
  ul {
    padding: 0;
    list-style: none;
  }

  button {
    transition: 0.5s;
    &:hover {
      transform: scale(1.1);
    }
  }