@mixin section-padding-general($ptDesk, $ptTab, $ptMob) {
    padding-top: $ptDesk;
    @media (max-width: 768px) {
        padding-top: $ptTab;
    }
    @media (max-width: 480px) {
        padding-top: $ptMob;
    }
}