@mixin section-padding-general($ptDesk, $ptTab, $ptMob) {
  padding-top: $ptDesk;
  @media (max-width: 768px) {
    padding-top: $ptTab;
  }
  @media (max-width: 480px) {
    padding-top: $ptMob;
  }
}

@mixin container(){
  width: 450px;
  margin: 0 auto;
  padding: 0 15px;
  @media(min-width: 768px) {
    width: 738px;
  }
  @media(min-width: 1200px) {
    width: 1170px;
  }
}

@mixin section-title() {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

@mixin title($col) {
font-weight: 700;
font-size: 14px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: $col;
}
